include LICENSE README.md provenance.json requirements-build.txt
recursive-include licenses *-LICENSE
recursive-include vendor *.js *.json *.c *.h
recursive-include patches *.patch
recursive-include tools *.py package.json package-lock.json
recursive-include tests *.py
